*{
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}
body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header-fon{
    background-color: #1F2937;
    width: 100%;
    padding: 0 10%;  
    border-radius: 0 0 15% 15%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.header{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    max-width: 1650px;
    margin: 0 auto;
}

.logo{
    color: #F9FAF8;
}

.links ul{
    display: flex;
    list-style: none;
}

.links a{
    text-decoration: none;
    color: #F9FAF8;
    padding: 0 16px;
    padding: 10px;
    border-radius: 8px;
}

.links a:hover{
    background-color: #1f72f8;
}

.block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0;
}

.name-opis{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
}

.name{
    font-size: 48px;
    margin: 0;  
}

.opis{
    font-size: 18px;
    margin:0 0 10px 0;
}

.call{
    display: inline-block;
    padding: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

.call:hover{
    background-color: #1f72f8;
    transform: scale(1.05);
}

.call:active{
    transform: scale(0.95);
}

.image{
    height: auto;
    max-width: 500px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5); 
    transition: 0.2s;
    cursor: pointer;
}
.image:hover{
    transform: scale(1.05);
}
.image:active{
    transform: scale(0.95);
}

.content-fon{
    width: 100%;
    padding: 0 10%;
    max-width: 1650px;
    margin: 0 auto;
}

        /* БЛОК С ЦЕНАМИ НА КАРТОЧКАХ ТОВАРА */
.zagolovok-center{
    display: flex;
    justify-content: center;
    max-width: 400px;
    padding: 16px 0 16px 0;
    margin: 30px auto;
    background-color: #1F2937;
    color: white;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    padding: 0;
    margin: auto;
    gap: 10px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex: 1 1 200px;
    flex-direction: column;
    background-color: whitesmoke;
    max-width: 200px;
    width: 100%;
    gap: 10px;
    padding: 5px;
    
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.02);
}

.card:active{
    transform: scale(0.95);
}

.card-image{
    height: auto;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.inform-cards{
    margin: 10px 0;
    flex-grow: 1;
    word-wrap: break-word;
}

.price{
    margin-top: auto;
}

.price-luck{
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}
    /*Информационный блок*/
.info-fon{
    display: flex;
    justify-content: center;
    padding: 80px 0;
    margin-top: 50px;
    background-color: #88919e;
    border-radius: 10% 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}
.information{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;    
    width: 100%;
    
}
.info-text{
    font-size: 24px;
    font-style: oblique;
    line-height: 1.5;
    margin: 0;  
}

.for-opis{
    align-self: flex-end;
}

.podpis{
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.container-for-fon{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;   
    width: 100%;
}

.blue-fon{
    display: flex;
    flex-direction: column;
    background-color: #1f72f8;
    padding: 50px 150px;
    margin: 50px;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);  
}

.text-phone, .text-phone-info, .call{
    margin: 0;
    padding: 5px;
    color: white;
}

.priziv{
    display: flex;
    justify-content: space-between;
}

.text-phone{
    font-size: 28px;
    font-weight: bold;
}

.text-phone-info{
    font-size: 18px;
}

.call-phone {
    display: flex;
    margin: 0;
    padding: 0;
}

.phone-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.phone-button:hover {
    background-color: #1F2937;
    transform: scale(1.02);
}

.phone-button:active {
    transform: scale(0.95);
}

.container-flooter{
    background-color: #1F2937;
    padding: 15px;
    width: auto;
}

.text{
    text-align: center;
    color: rgb(187, 187, 187);
    font-size: 14px;
}
    
    /*Адаптация*/

@media (max-width: 768px){
    .header-fon{
        border-radius: 0 0 100% 0;
    }
    .header{
        flex-direction: column;
        gap: 15px;
    }
    .logo{
        padding: 0;
        margin: 30px auto 0 auto;
    }
    .links ul{
        padding: 0;
        margin: 0 auto;
    }
    
    .name {
        display: inline;
        font-size: 30px;
        text-align: left;
        max-width: 200px;
        width: 100%;
        margin-top: 0;
    }

    .block{
        flex-direction: column;
        margin: 30px auto;
    }

    .opis{
        margin: 10px 0 5px 0;
        max-width: 250px;
        width: 100%;
    }

    .vizitka{
        width: 100%;
        margin-top: 20px;
    }

    .zagolovok-center{
       font-size: 24px;
    }

    .cards{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        margin: 0;
        justify-content: space-between;
    }
    .card{
       display: flex;
       max-width: 400px;
       width: 100%;
           
    }
    .inform-cards{
        font-size: 18px;
    }

}




