*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header-fon{
    background-color: #1F2937;
    padding: 16px 250px;
}

.header{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #F9FAF8;
}

.links ul{
    display: flex;
    list-style: none;
}

.links a{
    text-decoration: none;
    color: #F9FAF8;
    padding: 0 16px;
    padding: 10px;
    border-radius: 8px;
}

.links a:hover{
    background-color: #1f72f8;
}

.block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0;
}

.name-opis{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
}

.name{
    font-size: 48px;
    margin: 0;  
}

.opis{
    font-size: 18px;
    margin:0 0 10px 0;
}

.call{
    padding: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.call:hover{
    background-color: #1f72f8;
}

.image{
    height: auto;
    max-width: 500px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 1px 4px 6px rgb(255, 255, 255); 
}

.content-fon{
    padding: 16px 250px;
}

        /* БЛОК С ЦЕНАМИ НА КАРТОЧКАХ ТОВАРА */
.zagolovok-center{
    text-align: center;
    padding: 16px 0 32px 0;
    margin: 0;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    padding: 0;
    margin: auto;
    gap: 10px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    max-width: 200px;
    width: 100%;
    gap: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 5);
}

img.card-image{
    height: auto;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 2);
}

.inform-cards{
    margin: 10px 0x;
    flex-grow: 1;
}

.price{
    margin-top: auto;
}

.price-luck{
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
}

